/*			RESPONSIVE	TABLETTE / PETIT DESKTOP		*/

@media (max-width: 1250px) {
	#canvas{
		position:absolute;
		top:0;
		left:0;
		width:400px;	
	}
	#transport{
		height:50px;
	}
}

@media (max-width: 1220px) {
	#restoDiv p{
		font-size: 1.2em;
	}
	#restoDiv h1{
		font-size: 4.5em;
	}
	#relancer,#bonchoix{
		width:auto;
		font-size: 1em;
		padding-left: 22px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#bonchoix img, #relancer img{
		margin-right: 0;
	}
	#back{
		font-size:1em;
		height:auto;
	}
}

@media (max-width: 1110px) {
	#back img, #go img{
		width:15px;
		height:15px;
	}
	.budget0, .budget1, .budget2, .budget3, #plus, #moins{
		height:50px !important;
	}

	#fleche{
		width:25px;
		height:25px;
		margin-top: 235px;
		margin-left: 217px;
	}

	#choix input {
		font-size: 0.7em;
		padding: 0 0 0 0 !important;
	}
	.budget, .envie{
		font-size: 0.8em;
	}
	#go{
		font-size: 1em;
		height:auto;
	}
	#transport {
		font-size: 0.8em;
	}
	#canvas{
		position:absolute;
		top:0;
		left:0;
		width:300px;	
	}
	#restoDiv p{
		font-size: 1em;
	}
	#restoDiv h1{
		font-size: 3em;
	}

	#panel-results h3{
		font-size: 0.9em;
	}
	#panel-results h4{
		font-size: 0.8em;
		margin-left: 15%;
		font-family: inherit;
	}
	#relancer,#bonchoix{
		width:auto;
		font-size: 0.8em;
		padding-left: 22px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#bonchoix img, #relancer img{
		margin-right: 0;
	}
	#bonchoix{
		height:49px;
	}
	#panel{
		width:150px;
	}
	#budget span, .envie{
		font-size:0.7em !important;
		padding-left:52px !important;
	}
	#choix img{
		width:50%;
		height:50%;
	}
}