/*			RESPONSIVE	TABLETTE / PETIT DESKTOP		*/
@media (max-width: 1390px) {
	#resto > h2{
		margin : 0 0 0 0;
	}
	#details-restaurant{
		height:200px;
	}
	#resto > hr{
		display:none;
	}
	#resto input[type="button"]{
		width: 75px !important;
	}
	#resto > h2{
		margin-top:10px !important;
		font-size: 1.5em !important;
		margin-bottom: 10px !important;
	}
	#resto p{
		margin-bottom: 0 !important;
		font-size: 0.9em !important;
	}
	#itineraire{
		margin-top: 10px;
	}
}

@media (max-width: 1250px) {
	#canvas{
		position:absolute;
		top:0;
		left:0;
		width:400px;	
	}
	#transport{
		height:50px;
	}
	#resto input[type="button"]{
		width: 75px;
	}
	#resto > h2{
		margin: 0 0 0 0;
	}
	#resto > h2{
		margin-top:10px !important;
		font-size: 1.5em !important;
		margin-bottom: 10px !important;
	}
	#resto p{
		margin-bottom: 0 !important;
		font-size: 0.9em !important;
	}
	#itineraire{
		margin-top: 10px;
	}
}

@media (max-width: 1220px) {
	#restoDiv p{
		font-size: 1.2em;
	}
	#restoDiv h1{
		font-size: 4.5em;
	}
	#relancer,#bonchoix{
		width:auto;
		font-size: 1em;
		padding-left: 22px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#bonchoix img, #relancer img{
		margin-right: 0;
	}
	#back{
		font-size:1em;
		height:auto;
	}
	#details-restaurant{
		height:200px;
	}
	#resto input[type="button"]{
		width: 75px;
	}
	#resto > h2{
		margin-top:10px !important;
		font-size: 1.5em !important;
		margin-bottom: 10px !important;
	}
	#resto p{
		margin-bottom: 0 !important;
		font-size: 0.9em !important;
	}
	#comments{
		font-size: 0.8em !important;
		height:200px !important;
		width:37%;
	}
	#itineraire{
		margin-top: 10px;
	}
}

@media (max-width: 1110px) {
	#restoDiv{
			top:0 !important;
			left:37% !important;
		}
	#back img, #go img{
		width:15px;
		height:15px;
	}
	.budget0, .budget1, .budget2, .budget3, #plus, #moins{
		height:50px !important;
	}

	#fleche{
		width:25px;
		height:25px;
		margin-top: 235px;
		margin-left: 217px;
	}

	#choix input {
		font-size: 0.7em;
		padding: 0 0 0 0 !important;
	}
	.budget, .envie{
		font-size: 0.8em;
	}
	#go{
		font-size: 1em;
		height:auto;
	}
	#transport {
		font-size: 0.8em;
	}
	#canvas{
		position:absolute;
		top:0;
		left:0;
		width:300px;	
	}
	#restoDiv p{
		font-size: 1em;
	}
	#restoDiv h1{
		font-size: 3em;
	}

	#panel-results h3{
		font-size: 0.9em;
	}
	#panel-results h4{
		font-size: 0.8em;
		margin-left: 15%;
		font-family: inherit;
	}
	#relancer,#bonchoix{
		width:auto;
		font-size: 0.8em;
		padding-left: 22px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#bonchoix img, #relancer img{
		margin-right: 0;
	}
	#bonchoix{
		height:49px;
	}
	#panel{
		width:150px;
	}
	#budget span, .envie{
		font-size:0.7em !important;
		padding-left:52px !important;
	}
	#logo{
		left:35%;
	}
	.imgResto{
		display:none;
	}
	#resto input[type="button"]{
		width:75px !important;
		margin-top:10px !important;
	}
	#resto p:first-child {
		margin-top:10px !important;
	}
	#resto > h2{
		margin-top:10px !important;
		font-size: 1.5em !important;
	}
	#resto p{
		margin-left:0 !important;
		margin-bottom: 0 !important;
		font-size: 0.85em !important;
	}
	#resto > hr{
		display:none;
	}
	#details-restaurant{
		left: 200px !important;
		width:82%;
	}
	#comments{
		font-size: 0.8em !important;
		height:200px !important;
		width:32%;
	}
	#details-restaurant{
		height:200px !important;
	}
	#itineraire{
		margin-top: 10px;
	}
}